{% extends 'base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
   
    <div class="flex  bg-gray-100">
        <nav class="h-screen">
            {% include 'leftNavbar.html.twig' %}
        </nav>
        <main class="flex-1 flex flex-col" >
            <div class="w-[600px] mx-auto p-7 mt-10 rounded-3xl" style="background-color:#7D97F4">
                <div class="flex">
                    <a href="{{ path('app_tutorials_show',{'id' : tutorialId}) }}" class="text-black hover:text-gray-300 mr-3 mt-[2px]">
                        <svg class="w-8 h-8 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                    </a>
                    <h1 class="text-2xl font-bold mb-5">Modifier un Contenu </h1>
                </div>
                {% if errors is not empty %}
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{ include('admin_mode/content/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </main>
    </div>

{% endblock %}
