{% extends 'base.html.twig' %}

{% block title %}New Histories{% endblock %}

{% block body %}
    <h1>Create new Histories</h1>

    {{ include('histories/_form.html.twig') }}

    <a href="{{ path('app_histories_index') }}">back to list</a>
{% endblock %}
